.guaviare-gsap{
    position: absolute;
    width: 20px;
    height: 20px;
}

@media screen and (orientation: portrait) {
  .guaviare-contenedor-general {
    position: relative;
    z-index: 1;
    width: 100vw !important;
    min-height: 100vh;
  }
}

@media screen and (orientation: landscape) {
  .guaviare-contenedor-general {
    position: relative;
    z-index: 1;
    width: 2000px !important;
    height: 100vh;
  }
}

.guaviare-lineas {
  position: fixed;
  height: 100%;
  width: 10vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10px;
  opacity: 1;
}

.linea {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(81, 83, 84);
  margin-top: 10px;
  transition: 1s;
}

.linea-seleccionada {
  background-color: rgb(236, 241, 243);
}

.guaviare-contenedor-general{
  position: relative;
}

.guaviare-jorge-gsap{
  position: relative;
  height: 100vh;
}

.guaviare-carlos-gsap{
  position: relative;
  height: 100vh;
}

