.guaviare {
  position: relative;

  h1 {
    color: aliceblue;
  }

  .guaviare-video {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: url('../../assets/guaviare/home/guaviare-poster.jpg');
    background-repeat: no-repeat;

    video {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      opacity: 1;
    }
  }

  .guaviare-mask {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
  }

  .guaviare-contenido {
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    max-width: 900px;

    .guaviare-titulo {
      height: 28vh;
      display: flex;
      justify-content: center;
      align-items: self-end;

      h1 {
        color: rgb(208, 81, 55);
        font-size: 4rem;
        font-weight: bold;
      }
    }

    .guaviare-descripcion {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: start;
      padding: 5vh 12vw;

      h2 {
        color: rgb(255, 255, 255);
        width: 100%;
        text-align: left;
        font-size: 2rem;
        font-weight: bold;
      }

      hr {
        width: 90%;
        height: 6px;
        background-color: brown;
        border: 0px;
        margin-top: 2vh;
      }

      .guaviare-descripcion-p-contenedor {
        position: relative;
        height: 40vh;
        width: 95%;
      }

      p {
        position: absolute;
        font-size: 1rem;
        text-align: left;
        margin-top: 2vh;
      }

      .guaviare-descripcion-p1 {
        visibility: hidden;
      }

      .guaviare-descripcion-p2 {
        visibility: hidden;
      }
    }
  }

  .guaviare-descripcion-grafica{
    position: absolute;
    right: 0;
    bottom: 4vh;
    width: 40vw;

    img{
      width: 40vw;
      max-width: 200px;
    }
  }
}
