.jorge {
  background-color: rgb(131, 172, 70);
  background: url("../../assets/guaviare/jorge/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.jorge-entrada {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  .jorge-titulo {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: baseline;
    align-items: end;
    padding: 0 18vw;

    h1 {
      text-align: left;
    }
  }

  .jorge-contenido {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
    position: relative;

    .jorge-info {
      position: absolute;
      z-index: 2;
      left: 15vw;
      top: 15vh;
      width: 50px;
      cursor: pointer;
    }

    .jorge-foto {
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: 0;
      width: 80vw;
    }
  }
}

.jorge-youtube {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0;
  background-color: aqua;

  p {
    margin-top: 10%;
    cursor: pointer;
    background-color: brown;
  }
}

.jorge-audio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0;

  background: url("../../assets/guaviare/jorge/fondo-paisaje.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .jorge-audio-frase {
    height: 70vh;
    padding: 5vh 4vw;
    display: flex;
    align-items: flex-end;
    h2 {
      font-size: 2rem;
    }
  }

  .jorge-audio-continer {
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    height: 40vh;
  }

  .jorge-audio-fila {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2vh 15vw;

    img {
      width: 60px;
    }
  }

  hr {
    background-color: rgb(246, 246, 246);
    height: 3px;
    width: 30vw !important;
  }
}

.jorge-galeria {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .jorge-galeria-header {
    height: 30vh;
    padding: 6vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(131, 172, 70);
    background: url("../../assets/guaviare/jorge/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jorge-galeria-fotos {
    height: 68vh;
    overflow: hidden;
    position: relative;

    img{
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      opacity:0;
    }
  }
}
