.dayana-youtube2 {
  background: url("../../../assets/guaviare/dayana/fondo-video-cel2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;

  .contenido {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);

    img {
      width: 20vw;
      margin-top: 44vh;
    }

    p{
      padding: 10vh 14vw;
      font-size: 1.3rem;
      font-weight: bold;
      text-align: left;
    }
  }
}

@media screen and (orientation: portrait) {
  /* Estilos específicos para orientación vertical */
  .player-container {
    margin: 0% 100%;
    width: 100vh;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(90deg);
    transform-origin: top left;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    iframe {
      width: 100vh;
      height: 100vw;
    }
  }
}

@media screen and (orientation: landscape) {
  /* Estilos específicos para orientación horizontal */
  .player-container {
    height: 100vh;
    width: 100vw;

    iframe {
      width: 100vw;
      height: 100vh;
    }
  }
}

