.guaviare-temas-gsap{
    position: absolute;
    width: 20px;
    height: 20px;
}

@media screen and (orientation: portrait) {
    .guaviare-temas-contenedor-general {
      position: relative;
      z-index: 1;
      width: 100vw !important;
      min-height: 100vh;
    }
  }
  
  @media screen and (orientation: landscape) {
    .guaviare-temas-contenedor-general {
      position: relative;
      z-index: 1;
      width: 2000px !important;
      height: 100vh;
    }
  }
