.carlos-bio {
  background: url("../../../assets/guaviare/carlos/carlos.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  .bio-contenido {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    max-width: 900px;


    h1 {
      text-align: left;
      padding-left: 15vw;
      margin-top: 55vh;
    }

    p{
      text-align: left;
      padding-left: 15vw;
      padding-right: 15vw;
    }

    .info {
      padding-left: 15vw;
      padding-top: 10px;
      text-align: left;
      position: relative;
      img {
        width: 50px;
        cursor: pointer;
      }
    }
  }
}
