.info-popup{
    position: absolute;
    z-index: 100;
    left: 10vw;
    top:20vh;
    width: 80vw;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color:#fff;
    padding: 2% 2% 10%;
    font-size: 1.2rem;
    border-radius: 12px;

    .info-salida{
        text-align: right;

        img{
            width:50px;
            cursor: pointer;
        }
    }

    p{
        width:80%;
        margin: auto;
        padding: 0px !important;
    }
}