.william-relatos {
  width: 100vw;
  height: 100vh important;
  overflow: hidden;
  background-image: url("../../../assets/home/home-poster.jpg");

  .relatos-contenido{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15vh;    

    .relatos-audio-obj{
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 10px 10vw;
      font-size: 0.8rem;

      img{
        width:24px;
        cursor:pointer;
      }
    }
  }
}
